@import url('Fonts/Kanit/kanit.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(big.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.container {
    width: 100%;
}

nav {
    width: 100%;
    height: 60px;
    position: fixed;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.875rem;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgb(0,0,0));
}

.logo {
    font-size: 0.75rem;
    padding: 0.75rem 1.875rem;
    color: #fff;
    font-weight: 700;
}

.hamburgers {
    flex-direction: column;
    display: none;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 3px 0;
    border-radius: 25px;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu {
    display: flex;
}


.menu li {
    list-style: none;
    margin: 0 1.25rem;
}

.menu li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
}

.head-con {
    text-align: center;
    padding: 8rem 0rem;
}

.head-con h1 {
    color: #fff;
    font-size: clamp(2.5rem, 5vw, 6rem);
    padding: 0rem 1rem;
}

.head-con h2 {
    color: #ffcc00;
    font-size: clamp(2.5rem, 5vw, 6rem);
    font-weight: 500;
}

.head-con p {
    color: #fff;
    font-size: clamp(0.5rem, 8vw, 1.2rem);
    font-weight: 400;
    padding: 3rem clamp(1rem, 5vw, 7rem);
    text-align: center;
}

.main-con {
    display: flex;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1));
    padding: 4rem 4rem;
    justify-content: center;
    align-items: center;
}

.con {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 4rem 2rem;
    text-align: center;
}

.con p {
    font-size: 4rem;
    font-weight: 800;
    color: #ffcc00;
}

.con h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.con h2 {
    font-size: 2rem;
    font-weight: 500;
}

.card-con {
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,1));
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.card {
    width: 30rem;
    border: 1px solid #fff;
    height: auto;
    padding: 2rem 2rem;
    border-radius: 15px;
    display: flex;
}

.card img {
    border-radius: 15px;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.card-text {
    padding: 2rem;
}

.card h1 {
    color: #ffcc00;
    font-size: clamp(0.3rem, 7vw, 1.5rem);
}

.card p {
    color: #fff;
    font-size: clamp(0.25rem, 7vw, 0.96rem);
}

@media only screen and (max-width: 768px) {
    .head-con h1 {
        text-align: center;
    }

    .head-con h2 {
        text-align: center;;
    }

    .head-con p {
        width: 100%;
    }

    .main-con {
        flex-wrap: wrap;
    }

    .menu {
        flex-direction: column;
        text-align: center;
        display: none;
        margin: 0 auto;
        position: absolute;
        left: 0;
        top: 50px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(0,0,0));
        width: 100%;
        padding: 10px 0px;
    }

    .menu li {
        margin-top: 1.3rem;
    }

    .logo {
        text-align: center;
        padding: 0.75rem 0rem;
    }

    .hamburgers {
        display: flex;
    }

    .card {
        display: block;
        width: 22.5rem;
    }
}
